*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: arial,sans-serif;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background:black;
    color: white;
}
.panel{
    font-size: 20px;
    padding-left: 17px;
}
.header i{
    font-size: 30px;
    cursor: pointer;
    color: white;
}
.header i:hover{
    color: red;
}
.user-p{
    text-align: center;
    padding-left: 10px;
    padding-top: 25px;
}
.user-p img{
    height: 95px;
    width: 96px;
    border-radius: 50%;

}
.user-p h2{
    color: #ccc;
    padding: 5px 0;
}
.side-bar{
    width: 250px;
    background: #343f4f;
    min-height: 100vh;
    transition: 500ms width;
}
.body{
    display: flex;
}
.side-bar ul{
    margin-top: 20px;
    list-style: none;
}
.side-bar ul li{
    font-size: 16px;
    padding: 15px 0px;
    padding-left: 20px;
    transition: 500ms background;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.side-bar ul li:hover{
    background: #ff253a;
}
.side-bar ul li a{
    text-decoration: none;
    color: white;
    cursor: pointer;
    letter-spacing: 1px;
}
.side-bar ul li a i{
    display: inline-block;
    padding-right: 10px;
    font-size: 23px;
}
#navBtn{
    display: inline-block;
    margin-left: 70px;
    font-size: 20px;
    transition: 500ms color;
}
#checkbox{
    display: none;
}
#checkbox:checked ~ .body .side-bar{
    width: 60px;
}
#checkbox:checked ~ .body .side-bar .user-p{
    visibility: hidden;
}
#checkbox:checked ~.body .side-bar a span{
    display: none;
}
